@{
    ViewData["Title"] = "Team";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Filipe Douglas Silva de Oliveira</strong><br />
    <strong>João Douglas</strong><br />
    <strong>Marcos Vinicius Pereira da Silva</strong>
</address>
